Type: Project
Kind: Application
Name: Pars.{{ .Name }}.Project
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}
  Workspace: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}
  Path: {{ .Path }}

  Platform: 
    Type: angular
    Version: {{ .PlatformVersion }}

  Layers:
    - Name: core
      Path: Core
    - Name: service
      Path: Services
    - Name: business:model
      Path: Models

  Dependencies:
  References:
Application:
  ProjectType: Library

  Runtime:
    Type: nodejs
    Version: {{ .RuntimeVersion }}
  Options: