.scannerwork/
.pnotes/
/bin/**
/bins/**
/packages/**
/packing/**
/binaries/**
/data/**
/dist/**
/tmp/**
/temp/**
/drafts/**
/build/**
/config/**
/workspace**/**
/CHANGELOG/**
/src/vendor/**
/.venv/**
/node_modules/**
/.VSCodeCounter/**
pars*.db

*.exe
*.exe~
*.dll
*.so
*.dylib


*.out

go.work



*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

samples/**

*.terraform*
*terraform.tfstate*
*.qcow2
*.img
*.iso

devops/proxy-cache/Squid/*
devops/nexus/*
devops/nexus/data/nexus/log/*
devops/nexus/data/nexus/blobs/*
devops/nexus/data/nexus/restore-from-backup/*
devops/nexus/data/nexus/tmp/*