Type: Project
Kind: Application
Name:  {{ .Name }}
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}
  Workspace: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}
  Path: {{ .Path }}
  
  Platform: 
    Type: dotnet
    Version: {{ .PlatformVersion }}



  Layers:

  Dependencies:
  References:
Application:
  ProjectType: Library
  Runtime:
    Type: dotnet
    Version: {{ .RuntimeVersion }}
  Options: