global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend kubernetes-api
    bind {{ haproxy_bind_ip }}:{{ haproxy_listen_port }}
    default_backend kubernetes-backend

backend kubernetes-backend
    balance roundrobin
    {% for server in haproxy_backend_servers %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check
    {% endfor %}
