Type: Project
Kind: Application
Name: {{ .Name }}.Core
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}.Core
  Workspace: 
    Name: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}.Core
  Path: {{ .Path }}.Core

  Platform: 
    Type: go
    Version: {{ .PlatformVersion }}



  Layers:
    - Name: core
      Path: Core

  Dependencies:
  References:

Application:
  ProjectType: Library
  Runtime:
    Type: go
    Version: {{ .RuntimeVersion }}
  Options:

---
Type: Project
Kind: Application
Name: {{ .Name }}.Service
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}.Service
  Workspace: 
    Name: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}.Service
  Path: {{ .Path }}.Service

  Platform: 
    Type: go
    Version: {{ .PlatformVersion }}



  Layers:
    - Name: service
      Path: Services
    - Name: business:model
      Path: Models

  Dependencies:
  References:
  - Name: {{ .Name }}.Core
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
  - Name: {{ .Name }}.Database
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
  - Name: {{ .Name }}.Service
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
Application:
  ProjectType: Library
  Runtime:
    Type: go
    Version: {{ .RuntimeVersion }}
  Options:
---
Type: Project
Kind: Application
Name: {{ .Name }}.Database
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}.Database
  Workspace: 
    Name: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}.Database
  Path: {{ .Path }}.Database

  Platform: 
    Type: go
    Version: {{ .PlatformVersion }}



  Layers:
    - Name: persistence:database:entity
      Path: Database/Entities
    - Name: persistence:database:repository
      Path: Database/Repositories

  Dependencies:
Application:
  ProjectType: Library
  Runtime:
    Type: go
    Version: {{ .RuntimeVersion }}
  Options:

---
Type: Project
Kind: Application
Name: {{ .Name }}
Metadata:
  Tags:
Specifications:
  Name: {{ .Name }}
  Workspace: 
    Name: {{ .Workspace }}
  Group: {{ .Group }}
  Set: {{ .Set }}
  Package: {{ .Package }}
  Path: {{ .Path }}
  
  Platform: 
    Type: go
    Version: {{ .PlatformVersion }}



  Layers:
    - Name: presentation:controller
      Path: Controllers

  Dependencies:
  References:
  - Name: {{ .Name }}.Core
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
  - Name: {{ .Name }}.Service
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
  - Name: {{ .Name }}.Database
    Group:  {{ .Group }}
    Workspace: 
      Name: {{ .Workspace }}
Application:
  ProjectType: Console
  Runtime:
    Type: go
    Version: {{ .RuntimeVersion }}
  Options: